@model FootTimeLine.Front.Models.EventDto

<blockquote class="twitter-tweet">
    <p lang="fr" dir="ltr">But de Memphis Depay ⚡️<br><br>2-0 pour l’Olympique Lyonnais ❤️💙</p>&mdash; ICIC&#39;ESTLYON (@Icicestlyon6999) <a href="https://twitter.com/Icicestlyon6999/status/980532154315759617?ref_src=twsrc%5Etfw">April 1, 2018</a>
</blockquote>
